{% extends 'base.html.twig' %}

{#{% form_theme form _self %}#}

{#{% block _appbundle_student_grades_entry_widget %}#}
    {#<div>#}
        {#<div style="width: 70px;">{{ form_widget(form.value) }}</div>#}
        {#<div>{{ form_widget(form.description) }}</div>#}
    {#</div>#}
{#{% endblock %}#}

{% block body %}
    <h1>Grades of {{ student.name }} {{ student.surname }}</h1>

    <div style="margin-bottom: 10px"><a href="{{ path('student_index') }}">Back to the list</a></div>

    {{ form_start(form) }}
        {{ form_errors(form) }}
        <ul class="grades list-unstyled" data-prototype="{{ form_widget(form.grades.vars.prototype)|e('html_attr') }}">
            {% for grade in form.grades %}
                <li style="margin-bottom: 10px">
                    <div style="border-bottom: 1px solid black">
                        {{ form_row(grade) }}
                    </div>
                </li>
            {% endfor %}
        </ul>
        <input class="btn btn-primary" type="submit" value="Save" />
    {{ form_end(form) }}

    <script>
        var $collectionHolder;

        // setup an "add a Grade" link
        var $addGradeLink = $('<a href="#" class="add_grade_link">Add a grade</a>');
        var $newLinkLi = $('<li></li>').append($addGradeLink);

        $(document).ready(function() {
            // Get the ul that holds the collection of Grades
            $collectionHolder = $('ul.grades');

            // add the "add a Grade" anchor and li to the Grades ul
            $collectionHolder.append($newLinkLi);

            // count the current form inputs we have (e.g. 2), use that as the new
            // index when inserting a new item (e.g. 2)
            $collectionHolder.data('index', $collectionHolder.find(':input').length);

            $addGradeLink.on('click', function(e) {
                // prevent the link from creating a "#" on the URL
                e.preventDefault();

                // add a new Grade form (see next code block)
                addGradeForm($collectionHolder, $newLinkLi);
            });
        });

        function addGradeForm($collectionHolder, $newLinkLi) {
            // Get the data-prototype explained earlier
            var prototype = $collectionHolder.data('prototype');

            // get the new index
            var index = $collectionHolder.data('index');

            var newForm = prototype;
            // You need this only if you didn't set 'label' => false in your grades field in TaskType
            // Replace '__name__label__' in the prototype's HTML to
            // instead be a number based on how many items we have
            // newForm = newForm.replace(/__name__label__/g, index);

            // Replace '__name__' in the prototype's HTML to
            // instead be a number based on how many items we have
            newForm = newForm.replace(/__name__/g, index);

            // increase the index with one for the next item
            $collectionHolder.data('index', index + 1);

            // Display the form in the page in an li, before the "Add a grade" link li
            var $newFormLi = $('<li></li>').append(newForm);
            $newLinkLi.before($newFormLi);
        }
    </script>
{% endblock %}
